/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/* li {
  color:white;
list-style: none;
} */

body {
  background-color: rgb(31, 31, 48);
  display: flex;
  flex-direction: column;
}

p {
  color: white;
  font-size: 28px;
}

header{
  color: white;
  text-align: center;
  font-size: 35px;
}

form{
  color: white;
  font-size: 25px;
}

h2 {
  color: white;
  font-size: 30px;
  padding-left: 0px;
}

.left{
  font-size: 25px;
  text-align: center;
}
.body{
  padding-left: 10px;
}
button, input {
  margin: 15px;
}
.red{
  color: red;
}
.green{
  color: rgb(74, 218, 74);
}
.bold{
  font-weight: bold;
}
#restart, #start{
  font-size: 25px;
  padding-left: 0px;
}
.group{
  text-align: center;
}

@media all and (min-width: 600px) {
  h2{
    font-size: 38px;
  }
  header{
    font-size: 42px;
  }
  p{
    font-size: 30px;
  }
  button, input {
    margin: 10px;
  }
  .body{
    padding-left: 20px;
  }
}



